# These environment variables are not used by the backend, but by postgres in the docker-compose.yml
POSTGRES_DB=postgres_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# These environment variables are used by the rust backend. Postgresql is the only supported database.
DB_HOST=localhost
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}/${POSTGRES_DB}"
